name: Multi-Platform Live Bot

on:
  workflow_dispatch:
    inputs:
      video_url:
        description: 'رابط الفيديو'
        required: true
      yt_key:
        description: 'YouTube Key'
        required: false
      fb_key:
        description: 'Facebook Key'
        required: false
      kik_key:
        description: 'Kik Key'
        required: false

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: |
          sudo apt update && sudo apt install -y ffmpeg
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Start Multi-Streaming
        run: |
          # استلام الروابط من التطبيق
          VIDEO_URL="${{ github.event.inputs.video_url }}"
          
          # إعداد روابط المنصات
          YT="rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.yt_key }}"
          FB="${{ github.event.inputs.fb_key }}"
          KIK="rtmps://fa72391ed05b.global-contribute.live-video.net:443/app/${{ github.event.inputs.kik_key }}"

          # جلب رابط الفيديو المباشر وبدء البث المتعدد
          VIDEO_PATH=$(yt-dlp -g -f "best[ext=mp4]" "$VIDEO_URL")
          
          ffmpeg -re -stream_loop -1 -i "$VIDEO_PATH" \
          -c:v libx264 -preset veryfast -b:v 2500k -maxrate 2500k -bufsize 5000k \
          -pix_fmt yuv420p -g 50 -c:a aac -b:a 128k -ar 44100 \
          -f tee -map 0:v -map 0:a \
          "[$f=flv]$YT|[$f=flv]$FB|[$f=flv]$KIK"
