name: BALLONTV_STREAMS_PRO

on:
  workflow_dispatch: # تشغيل يدوي

jobs:
  # المهمة الأولى: بث قناة القرآن الكريم
  Quran-Stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt update && sudo apt install -y ffmpeg

      - name: Live Quran
        run: |
          ffmpeg -re -i "https://live.kwikmotion.com/sharjahtvquranlive/shqurantv.smil/playlist.m3u8" \
          -vf "drawtext=text='BALLONTV':x=w-tw-20:y=20:fontsize=40:fontcolor=white:box=1:boxcolor=black@0.4" \
          -c:v libx264 -preset veryfast -b:v 2500k -maxrate 3000k -bufsize 6000k \
          -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -ar 44100 \
          -f flv "rtmps://live-api-s.facebook.com:443/rtmp/FB-122122202925122511-1-Ab4BBA1VKoBfPmKG64-XaZ2N"

  # المهمة الثانية: بث قناة Alwan Sport
  Sport-Stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt update && sudo apt install -y ffmpeg

      - name: Live Sport
        run: |
          # إضافة User-Agent لأن روابط الـ IPTV غالباً ما تحجب السيرفرات
          ffmpeg -user_agent "Mozilla/5.0" -re -i "http://135.125.109.73:9000/Alwan%20Sport%201%20FHD%20VIP%20Arb_.m3u8" \
          -vf "drawtext=text='BALLONTV':x=w-tw-20:y=20:fontsize=40:fontcolor=white:box=1:boxcolor=black@0.4" \
          -c:v libx264 -preset veryfast -b:v 3000k -maxrate 3500k -bufsize 7000k \
          -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -ar 44100 \
          -f flv "rtmps://live-api-s.facebook.com:443/rtmp/FB-122122202925122511-0-Ab7cNMscTReXBvyXRkecQZ5t"
