name: BALLONTV_DUAL_STREAM

on:
  workflow_dispatch: # تشغيل يدوي بضغطة زر

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: |
          sudo apt update && sudo apt install -y ffmpeg
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Start Dual Streaming (Quran & Sport)
        run: |
          # القناة الأولى: قناة القرآن الكريم
          URL1="https://live.kwikmotion.com/sharjahtvquranlive/shqurantv.smil/playlist.m3u8"
          KEY1="FB-122122202925122511-1-Ab4BBA1VKoBfPmKG64-XaZ2N"
          RTMP1="rtmps://live-api-s.facebook.com:443/rtmp/$KEY1"

          # القناة الثانية: Alwan Sport
          URL2="http://135.125.109.73:9000/Alwan%20Sport%201%20FHD%20VIP%20Arb_.m3u8"
          KEY2="FB-122122202925122511-0-Ab7cNMscTReXBvyXRkecQZ5t"
          RTMP2="rtmps://live-api-s.facebook.com:443/rtmp/$KEY2"

          # تشغيل البث الأول في الخلفية (&) مع شعار BALLONTV
          ffmpeg -re -i "$URL1" \
          -vf "drawtext=text='BALLONTV':x=w-tw-20:y=20:fontsize=40:fontcolor=white:box=1:boxcolor=black@0.4" \
          -c:v libx264 -preset veryfast -b:v 2500k -maxrate 3000k -bufsize 6000k \
          -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -ar 44100 \
          -f flv "$RTMP1" &

          # تشغيل البث الثاني في الخلفية (&) مع شعار BALLONTV
          ffmpeg -re -i "$URL2" \
          -vf "drawtext=text='BALLONTV':x=w-tw-20:y=20:fontsize=40:fontcolor=white:box=1:boxcolor=black@0.4" \
          -c:v libx264 -preset veryfast -b:v 2500k -maxrate 3000k -bufsize 6000k \
          -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -ar 44100 \
          -f flv "$RTMP2" &

          # الانتظار حتى لا تنتهي المهمة
          wait
